.admin-title-container {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    color: rgb(235, 235, 235);
    padding: 20px;
}

.categories-container {
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 20px;
}

.category-button {
    font-size: 20px;
    padding: 10px 10px;
    border: none;
    background-color: black;
    cursor: pointer;
    transition: all 0.15s;
}

.category-button a {
    color: white;
}

.category-button a:hover {
    color: rgb(233, 32, 23);
}

.category-button:active {
    opacity: 0.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}