/* Author:
   Luke Jaekel */

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hind, Helvetica;
    text-decoration: none;
}

.js-header {
    flex-direction: column;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: Hind, Helvetica;
    z-index: 100;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.header-left-container {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    margin-right: 20px;
    cursor: pointer;
}

.header-middle-container {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
    margin-left: 80px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 500px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    padding-right: 45px;
    border: solid 0.2px rgb(40, 42, 46);
    border-radius: 10px;
    background-color: rgb(29,32,36);
    color: rgb(173, 172, 172);
    text-indent: 15px;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: rgb(173, 172, 172);
}

.search-bar input:focus {
    outline: none;
    border-color: rgb(40, 42, 46);
    box-shadow: none;
}

.search-bar button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.search-bar button:active {
    opacity: 0.5;
}

.search-bar button img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    opacity: 0.8;
}

.header-right-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    width: 240px;
    justify-content: space-between;
}

.account-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.account-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    height: 60px;
}

.account-trigger img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.account-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(18,21,25);
    border: 1px solid rgb(40,42,46);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 156px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.2s ease;
    z-index: 999;
}

.account-dropdown a {
    padding: 10px;
    color: white;
    font-size: 14px;
    transition: background-color 0.2s ease,
                color 0.2s ease;
}

.account-dropdown a:hover {
    background-color: rgb(40,42,46);
    color: rgb(233, 32, 23);
}

.account-wrapper:hover .account-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.basket-container {
    display: flex;
    position: relative;
    margin-right: 20px;
}

.basket-number {
    position: absolute;
    padding-top: 1px;
    padding-left: 1px;
    top: -3px;
    right: -5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket {
    border: none;
    border-radius: 55%;
    width: 40px;
    cursor: pointer;
    transition: all 0.15s;
}

.basket:hover {
    background-color: rgb(170, 170, 170);
    border-width: 1px;
    opacity: 0.8;
}

.basket:active {
    opacity: 0.6;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (max-width: 1160px) {
    .js-header {
        padding-top: 20px;
        height: 150px;
    }

    .logo-container {
        font-size: 30px;
        height: 80px;
    }

    .logo {
        height: 40px;
        width: auto;
        display: block;
    }
}