p {
    margin: 0;
    font-family: Hind, Helvetica;
}

.stock-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 35);
    padding: 20px;
    color: rgb(232, 232, 232);
}

.stock-title-container h1 {
    font-size: 50px;
}

.stock-title-container p {
    font-size: 20px;
}

.main-content {
    position: relative;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 300px;
    background-color: black;
    align-items: center;
    list-style: none;
}

.sidebar p {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.sidebar li a {
    font-size: 18px;
    color: rgb(200, 200, 200);
}

.sidebar li a:hover {
    text-decoration: underline;
    color: rgb(233, 32, 23);
}

.product-grid-container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 20px;
    color: white;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.image-container {
    width: 250px;
}

.product-image {
    width: 100%;
    object-fit: contain;
    object-position: right;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
}

.product-title-container {
    margin-bottom: 10px;
    font-size: 25px;
}

.product-title-link {
    color: white;
}

.product-title-link:hover {
    color: rgb(238, 238, 238);
    text-decoration: underline;
}

.price-container {
    font-size: 18px;
    color: rgb(200, 200, 200);
    display: flex;
    gap: 10px;
}

.button-container {
    display: flex;
    gap: 5px;
    margin-top: 30px;
}

.quantity {
    width: 50px;
    font-size: 20px;
    text-indent: 10px;
}

.add-to-cart-button {
    padding: 6px 12px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: rgb(233, 32, 23);
    color: rgb(35, 35, 35);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s;
}

.add-to-cart-button:hover {
    background-color: rgb(238, 238, 238);
    opacity: 0.8;
}

.add-to-cart-button:active {
    opacity: 0.6;
}

.status-container {
    margin-top: 5px;
    font-size: 16px;
    color: black;
}

.stock-container {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

@media (max-width: 1570px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .sidebar p {
        font-size: 24px;
    }

    .sidebar li a {
        font-size: 20px;
    }
}

@media (max-width: 1250px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 940px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}